@font-face {
	font-weight: 400;
	font-family: "RFDewiExtended";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/RFDewiExtended-Regular.woff2") format("woff2"),
		url("../fonts/RFDewiExtended-Regular.woff") format("woff");
}

@font-face {
	font-weight: 600;
	font-family: "RFDewiExtended";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/RFDewiExtended-Semibold.woff2") format("woff2"),
		url("../fonts/RFDewiExtended-Semibold.woff") format("woff");
}

@font-face {
	font-weight: 700;
	font-family: "RFDewiExtended";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/RFDewiExtended-Bold.woff2") format("woff2"),
		url("../fonts/RFDewiExtended-Bold.woff") format("woff");
}

@font-face {
	font-weight: 800;
	font-family: "RFDewiExtended";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/RFDewiExtended-Ultrabold.woff2") format("woff2"),
		url("../fonts/RFDewiExtended-Ultrabold.woff") format("woff");
}

@font-face {
	font-weight: 900;
	font-family: "RFDewiExtended";
	font-style: normal;
	font-display: swap;
	src:
		url("../fonts/RFDewiExtended-Black.woff2") format("woff2"),
		url("../fonts/RFDewiExtended-Black.woff") format("woff");
}
