@import "mixins/media";
@import "mixins/px-to-rem";
@import "fonts";


.button-reset {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.logo {
	&__img {
		display: block;
		width: 30rem;

		@include mq(sm) {
			max-width: 15.4rem;
		}
	}
}


.nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 2.8rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		overflow: hidden;
		font-size: 2rem;
		line-height: 3.8rem;
		transition: color 200ms;

		&:hover {
			&::before {
				transform: translateX(0);
			}
		}

		&::before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--color-dark);
			transform: translateX(-100%);
			transition: transform 200ms;
			content: "";
		}

		&.is-current {
			&::before {
				transform: translateX(0);
			}
		}
	}
}

.button-burger {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 6.5rem;
	height: 6.5rem;
	cursor: pointer;

	span {
		display: block;
		margin-bottom: 1rem;
		width: 5.7rem;
		height: 2px;
		background-color: var(--color-dark);
		transition: background-color 200ms, transform 200ms;


		&:last-child {
			margin-bottom: 0;
		}
	}

	&:hover {
		span {
			&:nth-child(1) {
				transform: translateY(0.3rem);
			}
			&:nth-child(2) {
				transform: translateY(-0.3rem);
			}
		}
	}

	&:active {
		transform: scale(0.99);
	}
}

.tel {
	&__link {
		display: inline-block;
		font-weight: 800;
		font-size: 2.2rem;
		line-height: 3.6rem;
		transition: color 200ms;

		&:hover {
			color: var(--color-orange);
		}
	}

	&__text {
		display: block;
		font-size: 1.3rem;
		line-height: 1.6rem;
		color: #959FAB;
	}
}

.section-name {
	display: block;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 2.9rem;
	color: rgba(45, 48, 64, 0.4);


	@include mq(lg) {
		font-size: 2rem;
		line-height: 2.4rem;
	}


	@include mq(sm) {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
}

.site-second-title {
	font-weight: 800;
	font-size: 3.2rem;
	line-height: 3.8rem;

	@include mq(lg) {
		font-size: 2.6rem;
		line-height: 3rem;
	}

	@include mq(sm) {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}

.slider-nav {
	width: 10.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include mq(sm) {
		width: 7.8rem;
	}

	&.hero__slider-nav {
		.progress {
			transition: fill 200ms;
			&:nth-child(1) {
				stroke-dasharray: 135;
				stroke-dashoffset: 135;
			}
		}
	}

	&.js-anim-start {
		.progress {
			&:nth-child(1) {
				animation: circle 9s linear infinite;
				animation-delay: 0.1s;
			}
		}
	}

	&__circle {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		.progress {
			transition: stroke 200ms;
			&:nth-child(1) {
				stroke-dasharray: 135;
				stroke-dashoffset: 0;
			}
		}
	}

	@keyframes circle {
		from {
			stroke-dashoffset: 135;
		}

		to {
			stroke-dashoffset: 0;
		}
	}

	&__btn {
		position: relative;
		width: 4.4rem;
		height: 4.4rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid transparent;
		cursor: pointer;
		transition: background-color 200ms, border-color 200ms;

		&:hover {
			.progress {
				&:nth-child(1) {
					stroke: var(--color-orange);
				}
			}

			.slider-nav__btn-icon {
				fill: var(--color-orange);
			}
		}

		&:active {
			transform: scale(0.9);
		}

		&.swiper-button-disabled {
			opacity: 0.5;
			pointer-events: none;
			border-color: rgba($color: #2D3040, $alpha: 0.1);

			.slider-nav__circle {
				opacity: 0;
			}
		}

		&-icon {
			display: block;
			width: 2rem;
			height: 2rem;
			fill: var(--color-dark);
			transition: fill 200ms;
		}

		@include mq(sm) {
			width: 3.5rem;
			height: 3.5rem;

			&-icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}

.button {
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 2.3rem 4.3rem;
	border-radius: 1.5rem;
	border: 2px solid var(--color-orange);
	color: var(--color-orange);
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
	letter-spacing: 0.11em;
	text-transform: uppercase;
	transition: color 400ms;
	overflow: hidden;

	&::before {
		position: absolute;
		top: 100%;
		left: 50%;
		z-index: -1;
		width: 7rem;
		height: 7rem;
		background-color: var(--color-orange);
		border-radius: 50%;
		transform: translate(-50%);
		transition: all 400ms;
		content: "";
	}

	@include mq(sm) {
		font-size: 1rem;
		line-height: 1.5rem;
		padding: 1.9rem 3.4rem;
	}

	@include mq(sm, min) {
		&:hover {
			color: var(--color-white);

			&::before {
				width: 45rem;
				height: 45rem;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	&:active {
		transform: scale(0.99);
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-white);
	z-index: 19;
	transform: opacity 200ms, visibillty 200ms;

	&._is-loaded {
		opacity: 0;
		visibility: hidden;
	}
}


.btn-top-container {
	position: fixed;
	left: 0;
	bottom: 4rem;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 200ms, visibility 200ms;

	.btn-top {
		margin-left: auto;
	}

	&.is-active {
		opacity: 1;
		visibility: visible;
	}

	@include mq(lg) {
		display: none;
	}
}

.btn-top {
	display: flex;
	align-items: center;
	cursor: pointer;

	&:hover {
		._icon-wrap {
			background-color: var(--color-orange);

			.footer__btn-top-icon {
				fill: var(--color-orange-light);
			}
		}

		._name {
			color: var(--color-orange-light);
		}
	}

	._name {
		font-weight: 700;
		color: var(--color-orange);
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-transform: uppercase;
		transition: color 200ms;
	}

	._icon-wrap {
		width: 5.8rem;
		height: 5.8rem;
		background-color: var(--color-orange-light);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 1.5rem;
		transition: background-color 200ms;
	}

	&-icon {
		width: 2.7rem;
		height: 2.7rem;
		fill: var(--color-orange);
		transition: fill 200ms;
	}
}

.markweber {
	display: block !important;
	// transform: translateY(0.3rem);

	img {
		transform: translateY(0.2rem);
	}
}
