@import "mixins/media";
@import "mixins/px-to-rem";
@import "fonts";


.button-reset {
	padding: 0;
	margin: 0;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

.logo {
	&__img {
		display: block;
		width: 30rem;

		@include mq(sm) {
			max-width: 15.4rem;
		}
	}
}


.nav {
	&__list {
		display: flex;
		align-items: center;
	}

	&__item {
		margin-right: 2.8rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		font-size: 2rem;
		line-height: 3.8rem;
		transition: color 200ms;

		&.is-current {
			color: var(--color-orange);
		}

		&:hover {
			color: var(--color-orange);
		}
	}
}

.button-burger {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 6.5rem;
	height: 6.5rem;
	cursor: pointer;

	span {
		display: block;
		margin-bottom: 1rem;
		width: 5.7rem;
		height: 2px;
		background-color: var(--color-dark);
		transition: background-color 200ms;


		&:last-child {
			margin-bottom: 0;
		}
	}

	&:hover {
		span {
			background-color: var(--color-orange);
		}
	}

	&:active {
		transform: scale(0.99);
	}
}

.tel {
	&__link {
		display: inline-block;
		font-weight: 800;
		font-size: 2.2rem;
		line-height: 3.6rem;
		transition: color 200ms;

		&:hover {
			color: var(--color-orange);
		}
	}

	&__text {
		display: block;
		font-size: 1.3rem;
		line-height: 1.6rem;
		color: #959FAB;
	}
}

.section-name {
	display: block;
	font-weight: 600;
	font-size: 2.4rem;
	line-height: 2.9rem;
	color: rgba(45, 48, 64, 0.4);


	@include mq(lg) {
		font-size: 2rem;
		line-height: 2.4rem;
	}


	@include mq(sm) {
		font-size: 1.4rem;
		line-height: 1.6rem;
	}
}

.site-second-title {
	font-weight: 800;
	font-size: 3.2rem;
	line-height: 3.8rem;

	@include mq(lg) {
		font-size: 2.6rem;
		line-height: 3rem;
	}

	@include mq(sm) {
		font-size: 2.5rem;
		line-height: 3rem;
	}
}

.slider-nav {
	width: 10.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include mq(sm) {
		width: 7.8rem;
	}

	&__btn {
		width: 4.4rem;
		height: 4.4rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgba($color: #2D3040, $alpha: 0.1);
		cursor: pointer;
		transition: background-color 200ms, border-color 200ms;

		&:hover {
			border-color: var(--color-orange);

			.slider-nav__btn-icon {
				fill: var(--color-orange);
			}
		}

		&:active {
			transform: scale(0.9);
		}

		&.swiper-button-disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&-icon {
			display: block;
			width: 2rem;
			height: 2rem;
			fill: var(--color-dark);
			transition: fill 200ms;
		}

		@include mq(sm) {
			width: 3.5rem;
			height: 3.5rem;

			&-icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}
	}
}

.button {
	display: inline-block;
	padding: 2.3rem 4.3rem;
	border-radius: 1.5rem;
	border: 2px solid var(--color-orange);
	color: var(--color-orange);
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
	letter-spacing: 0.11em;
	text-transform: uppercase;
	transition: color 200ms, background-color 200ms;

	@include mq(sm) {
		font-size: 1rem;
		line-height: 1.5rem;
		padding: 1.9rem 3.4rem;
	}

	&:hover {
		background-color: var(--color-orange);
		color: var(--color-white);
	}

	&:active {
		transform: scale(0.99);
	}
}
