main.page-main.main
	section.error-page
		.site-container.error-page__container
			img.error-page__img(src="img/error-page.svg", alt="Такой страницы больше нет или она никогда не существовала")
			h1.error-page__heading.site-first-title
				|	Такой страницы больше нет или она никогда не существовала
			a.button.button-reset.error-page__btn(href="/")
				|	 на главную
