.about-intro {
	margin-bottom: 10rem;

	@include mq(sm) {
		padding-top: 6rem;
		margin-bottom: 5.5rem;
	}

	&__heading {
		font-weight: 800;
		font-size: 4.2rem;
		line-height: 4.9rem;
		letter-spacing: 0.02em;
		margin-bottom: 8rem;

		@include mq(md) {
			margin-bottom: 4rem;
		}

		@include mq(sm) {
			font-size: 2.5rem;
			line-height: 3rem;
			margin-bottom: 3rem;
			letter-spacing: 0.02em;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		column-gap: 20px;
	}

	&__icon-bg {
		@include mq(md) {
			display: none;
		}
	}

	&__left-block {
		grid-column: 4 span;

		@include mq(md) {
			grid-column: 16 span;
		}
	}

	&__right-block {
		grid-column: 12 span;

		@include mq(md) {
			grid-column: 16 span;
		}
	}

	&__content-txt {
		margin-bottom: 8rem;

		p {
			font-weight: 600;
			font-size: 3.8rem;
			line-height: 4.9rem;
			letter-spacing: 0.02em;

			@include mq(md) {
				font-size: 3.2rem;
				line-height: 3.6rem;

				br {
					display: none;
				}
			}

			@include mq(sm) {
				font-size: 1.6rem;
				line-height: 2rem;
			}
		}

		@include mq(md) {
			margin-bottom: 4rem;
		}

		@include mq(sm) {
			margin-bottom: 4.7rem;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		padding-top: 7rem;
		border-top: 1px solid var(--color-grey3);

		@include mq(md) {
			padding-top: 4rem;
			gap: 35px 0;
		}
	}

	&__item {
		grid-column: 4 span;
		display: flex;
		align-items: flex-start;

		span {
			margin-right: 1.6rem;
			display: block;
			font-weight: 600;
			font-size: 7.4rem;
			line-height: 0.8;

			@include mq(md) {
				font-size: 5rem;
			}

			@include mq(sm) {
				margin-right: 2.2rem;
			}
		}

		p {
			max-width: 21rem;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;

			b,strong {
				color: var(--color-orange);
			}

			@include mq(md) {
				font-size: 1.6rem;
				line-height: 2rem;
			}

			@include mq(sm) {
				max-width: 17rem;
				font-size: 1.4rem;
				line-height: 1.7rem;
			}
		}

		@include mq(sm) {
			grid-column: 12 span;
		}
	}
}
