section.detail-intro
    .site-container.detail-intro__container 
        +breadcrumbs([['Главная', "/"], ['ВСЕ ПРОЕКТЫ', "/"], ['ЛАБОРАТОРИЯ']])(class="detail-intro__breadcrumbs")
        h1.detail-intro__heading.site-first-title
            |   Проект  “Лаборатория”
        span.detail-intro__tags 
            |   Иммунизация • МИАЦ ХМАО, ДЗ ЧАО 
        p.detail-intro__text 
            |   Предназначена для автоматизации деятельности всех этапов лечебного процесса медицинской организации.

        img(src="img/detail2.svg", alt="" class="detail-intro__img _type2")