section.other-products.other-products__projects
    .site-container.other-products__container.grid-container.parallax
        .grid-container__block
            span.section-name 
                |   Наши другие проекты
        .grid-container__block
            p.other-products__heading 
                |  Благодаря нашим опыту и знаниям,  внедряем и запускаем сложнейшие проекты
            .other-products__list 
                a.products-card.mod-project.other-products__list-item(href="/")
                    span.products-card__feauture
                        |	ХМАО-Югра
                    span.products-card__heading
                        |	Удаленное консультирование
                    span.products-card__tags
                        |	Все организации ХМАО-Югры
                    img(class="products-card__img" src="img/project-card-img1.svg" alt="")
                    .products-card__arrow
                        +icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
                a.products-card.mod-project.other-products__list-item(href="/")
                    span.products-card__feauture
                        |	ХМАО-Югра
                    span.products-card__heading
                        |	Разработка мобильного решения при вызове врача на дом
                    span.products-card__tags
                        |	Нижневартовская городская детская поликлиника
                    img(class="products-card__img" src="img/project-card-img2.svg" alt="")
                    .products-card__arrow
                        +icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
                a.products-card.mod-project.other-products__list-item(href="/")
                    span.products-card__feauture
                        |	ХМАО-Югра
                    span.products-card__heading
                        |	Разработка проекта "Электронная очередь"
                    span.products-card__tags
                        |	Нижневартовская городская стоматологическая поликлиника
                    img(class="products-card__img" src="img/project-card-img3.svg" alt="")
                    .products-card__arrow
                        +icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")