section.project-solution.parallax
    .site-container.project-solution__container.grid-container
        .grid-container__block 
            span.section-name   
                |   Решение
        .grid-container__block
            span.project-info__legend
                |   Как мы справились с поставленными перед нами задачами?
            .project-solution__list
                .project-solution__list-item
                    .project-solution__list-item-block 
                        span.project-solution__list-legend 
                            |   Установка
                    .project-solution__list-item-block 
                        p 
                            |   Установка и настройка лабораторной информационной системы на местах пользователей.
                .project-solution__list-item
                    .project-solution__list-item-block 
                        span.project-solution__list-legend 
                            |   Интеграция
                    .project-solution__list-item-block 
                        p 
                            |   Интеграция с другими медицинскими информационными системами; обучение сотрудников лабораторий и дальнейшая поддержка при работе в системе
                .project-solution__list-item
                    .project-solution__list-item-block 
                        span.project-solution__list-legend 
                            |   Подключение оборудования
                    .project-solution__list-item-block 
                        p 
                            |   Подключение и интеграция лабораторного оборудования с внедренной системой.