section.detail-intro
    .site-container.detail-intro__container 
        +breadcrumbs([['Главная', "/"], ['Продукты']])(class="detail-intro__breadcrumbs")
        h1.detail-intro__heading.site-first-title
            |   Медицинская информационная система 
        span.detail-intro__tags 
            |   Иммунизация • МИАЦ ХМАО, ДЗ ЧАО 
        p.detail-intro__text 
            |   Предназначена для автоматизации деятельности всех этапов лечебного процесса медицинской организации.
        
        button.button.button-reset.detail-intro__btn 
            |   Заказать

        img(src="img/detail1.svg", alt="" class="detail-intro__img")