section.modules
    .site-container.modules__container.parallax
        h2.modules__heading 
            |   Модули в&nbsp;комплекте
        ul.modules__content
            li.modules__content-item
                .modules__content-item-info 
                    .modules__content-item-block
                        span.modules__content-item-legend 
                            |   МОДУЛЬ
                        span.modules__content-item-heading 
                            |   АРМ Лаборатория
                    .modules__content-item-block 
                        .modules__content-text
                            span.modules__content-item-legend 
                                |   ОПИСАНИЕ
                            p 
                                |   В АРМ Лаборатории производится сбор, обработка и архивация сведений по лабораторным исследованиям. Направления на лабораторные исследования могут поступать в ЛИС из внешних систем, либо создаваться вручную. Сотрудник лаборатории производит лабораторные исследования вручную или посредством лабораторного оборудования (анализаторов), и вносит результаты в систему. 

                        .drop-menu-container.js-drop-menu-container
                            .modules__content-body.drop-menu.js-drop-menu
                                span.modules__content-item-legend 
                                    |   Функции модуля
                                .modules__content-body-list 
                                    p 
                                        |   Настройка рабочего пространства АРМ Лаборатории: анализы, тесты, услуги, анализаторы, шаблоны, журналы.
                                    p 
                                        |   Настройка подключенного к системе лабораторного оборудования (анализаторов)

                                    p 
                                        |   Настройка референтных значений для автоматической интерпритации анализов
                                    p 
                                        |   Глобальные настройки ЛИС

                        button.button-reset.modules__content-item-link.js-drop-menu-btn
                            span._is-shown
                                |   ПОКАЗАТЬ ФУНКЦИИ
                            span._is-hidden 
                                |   СКРЫТЬ ФУНКЦИИ 

            li.modules__content-item
                .modules__content-item-info 
                    .modules__content-item-block
                        span.modules__content-item-legend 
                            |   АРМ Анализы
                        span.modules__content-item-heading 
                            |   АРМ Лаборатория
                    .modules__content-item-block 
                        .modules__content-text
                            span.modules__content-item-legend 
                                |   ОПИСАНИЕ
                            p 
                                |   В АРМ Анализы производятся глобальные настройки ЛИС, которые распространяются на все рабочие места системы:
                            ul 
                                li настройка необходимого для конктретной лаборатории переченя анализов тестов и платных услуг;
                                li настройка подключенного к системе лабораторного оборудования (анализаторов), расходные материалы;
                                li настройка печатных форм: напралений, бланков результатов, протоколы, журналов и отчетных форм;
                                li настройка автоматической нумерации проб в зависимости настройки ЭЦП.

                        .drop-menu-container.js-drop-menu-container
                            .modules__content-body.drop-menu.js-drop-menu
                                span.modules__content-item-legend 
                                    |   Функции модуля
                                .modules__content-body-list 
                                    p 
                                        |   Настройка рабочего пространства АРМ Лаборатории: анализы, тесты, услуги, анализаторы, шаблоны, журналы.
                                    p 
                                        |   Настройка подключенного к системе лабораторного оборудования (анализаторов)

                                    p 
                                        |   Настройка референтных значений для автоматической интерпритации анализов
                                    p 
                                        |   Глобальные настройки ЛИС

                        button.button-reset.modules__content-item-link.js-drop-menu-btn
                            span._is-shown
                                |   ПОКАЗАТЬ ФУНКЦИИ
                            span._is-hidden 
                                |   СКРЫТЬ ФУНКЦИИ 

            li.modules__content-item
                .modules__content-item-info 
                    .modules__content-item-block
                        span.modules__content-item-legend 
                            |   АРМ Администратора
                        span.modules__content-item-heading 
                            |   АРМ Лаборатория
                    .modules__content-item-block 
                        .modules__content-text
                            span.modules__content-item-legend 
                                |   ОПИСАНИЕ
                            p 
                                |  В АРМ Администратора формируется справочник сотрудников лаборатории с учетом их функционального доступа к различным типам операций в Системе. в данном модуле также доступна настройка печатных форм и ЭЦП.

                        .drop-menu-container.js-drop-menu-container
                            .modules__content-body.drop-menu.js-drop-menu
                                span.modules__content-item-legend 
                                    |   Функции модуля
                                .modules__content-body-list 
                                    p 
                                        |   Настройка рабочего пространства АРМ Лаборатории: анализы, тесты, услуги, анализаторы, шаблоны, журналы.
                                    p 
                                        |   Настройка подключенного к системе лабораторного оборудования (анализаторов)

                                    p 
                                        |   Настройка референтных значений для автоматической интерпритации анализов
                                    p 
                                        |   Глобальные настройки ЛИС

                        button.button-reset.modules__content-item-link.js-drop-menu-btn
                            span._is-shown
                                |   ПОКАЗАТЬ ФУНКЦИИ
                            span._is-hidden 
                                |   СКРЫТЬ ФУНКЦИИ 