section.other-products
    .site-container.other-products__container.grid-container.parallax
        .grid-container__block
            span.section-name
                |   Наши другие продукты
        .grid-container__block
            p.other-products__heading
                |   Благодаря нашим опыту и знаниям, <b>разрабатываем уникальные продукты</b>, исходя от требований конкретной организации
            .other-products__list
                a.products-card.other-products__list-item(href="/")
                    span.products-card__feauture
                        |	иммунизация
                    span.products-card__heading
                        |	Диспанцеризация пациентов
                    span.products-card__tags
                        |	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
                    img(class="products-card__img lazy" src="#" data-src="img/card-img1.png" alt="")
                    .products-card__arrow
                        +icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
                a.products-card.other-products__list-item(href="/")
                    span.products-card__feauture
                        |	иммунизация
                    span.products-card__heading
                        |	Региональная регистратура
                    span.products-card__tags
                        |	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
                    img(class="products-card__img lazy" src="#" data-src="img/card-img2.png" alt="")
                    .products-card__arrow
                        +icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
                a.products-card.other-products__list-item(href="/")
                    span.products-card__feauture
                        |	иммунизация
                    span.products-card__heading
                        |	Медицинская информационная система
                    span.products-card__tags
                        |	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
                    img(class="products-card__img lazy" src="#" data-src="img/card-img3.png" alt="")
                    .products-card__arrow
                        +icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
