.feautures {
	display: grid;
	grid-template-columns: repeat(16, 1fr);
	column-gap: 20px;

	&__item {
		grid-column: 4 span;
	}

	&__item-content {
		display: flex;
		align-items: flex-start;

		p {
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
			max-width: 32.8rem;

			b {
				color: var(--color-orange)
			}
		}
	}

	&__item-content-num {
		display: block;
		font-weight: 600;
		font-size: 7.4rem;
		line-height: 0.8;
		margin-right: 1.7rem;
	}
}
