.header {
	padding-top: 2.4rem;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		margin-right: 10.9rem;
	}

	&__nav {
		margin-right: 9.9rem;

		@include mq(lg) {
			display: none;
		}
	}

	&__btn-burger {
		@include mq(lg) {
			margin-left: auto;
		}
	}

	&__links {
		margin-left: auto;

		@include mq(lg) {
			margin-left: 3rem;
		}
	}
}
