.contacts-map {
	margin-bottom: 11.6rem;

	@include mq(sm) {
		margin-bottom: 6rem;
	}

	&__heading {
		margin-bottom: 5rem;
	}

	&__list {
		width: 100%;

		&:not(.mod-show) {
			display: none;
		}
	}

	&__list-row-heading {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		padding-bottom: 2rem;
		border-bottom: 1px solid #EEEEFA;

		@include mq(sm) {
			display: none;
		}
	}

	&__list-row {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		padding: 2.2rem 0 1.8rem;
		border-bottom: 1px solid #EEEEFA;
	}

	&__item {
		grid-column: 4 span;
		align-self: center;

		@include mq(sm) {
			grid-column: 6 span;
			align-self: stretch;

			&:last-child {
				grid-column: 12 span;
				display: grid;
				grid-template-columns: 6fr 6fr;
				column-gap: 20px;
				margin-top: 2.5rem;

				&::before {
					display: none;
				}

				.div {
					order: 1;
				}
			}
		}

		&::before {
			font-weight: 700;
			font-size: 1rem;
			line-height: 1.6rem;
			text-transform: uppercase;
			color: var(--color-grey3);
			display: none;
			content: attr(data-text);

			@include mq(sm) {
				display: block;
			}
		}

		&:last-child {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__smal-legend {
		font-weight: 700;
		font-size: 1.2rem;
		line-height: 1.6rem;
		color: var(--color-grey3);
	}

	&__item-text-bold {
		font-weight: 700;
		font-size: 2rem;
		line-height: 3rem;

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.1rem;
		}
	}

	&__item-text {
		display: block;
		margin-bottom: 0.8rem;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2.2rem;
		letter-spacing: 0.02em;

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2.1rem;
		}
	}

	&__item-text-small {
		font-size: 1.6rem;
		line-height: 2rem;
		color: var(--color-grey);

		@include mq(sm) {
			font-size: 1.4rem;
			line-height: 2rem;
		}
	}

	a.contacts-map__item-text {
		&:hover {
			color: var(--color-orange);
		}
	}

	a.contacts-map__item-text-small {
		&:hover {
			color: var(--color-orange);
		}
	}

	&__item-icon-wrapper {
		position: relative;
		width: 3rem;
		height: 3rem;
		background-color: var(--color-purple-light);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&::before {
			position: absolute;
			top: 50%;
			left: calc(100% + 0.8rem);
			transform: translateY(-50%);
			font-weight: 700;
			font-size: 1rem;
			line-height: 1.6rem;
			text-transform: uppercase;
			white-space: nowrap;
			content: attr(data-text);
		}
	}

	&__item-icon {
		width: 1.2rem;
		height: 1.4rem;
		fill: var(--color-orange);
	}

	&__map {
		width: 100%;
		height: 63.4rem;
		border-radius: 1.5rem;
		background-color: var(--color-purple-light);

		@include mq(sm) {
			height: 23.9rem;

			margin: 0 -16px;
			padding: 0 16px;
			width: auto;
		}

		&:not(.mod-show) {
			display: none;
		}

		.ymaps-2-1-79-balloon {
			box-shadow: none;
		}

		.ymaps-2-1-79-balloon__layout {
			border-radius: 1.5rem;
		}

		.ymaps-2-1-79-balloon__content {
			padding: 2.5rem 3.2rem 3.2rem !important;
			margin-right: 0 !important;
		}

		.body-wrapper {
			font-family: var(--main-ff);
		}

		.header-wrapper {
			font-family: var(--main-ff);
			font-weight: 700;
			font-size: 2rem;
			line-height: 3rem;
			margin-bottom: 2rem;
		}

		.body-item {
			margin-bottom: 2.4rem;

			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}

		.caption {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2.4rem;
			letter-spacing: 0.02em;
			margin-bottom: 0.8rem;

			&.bold {
				font-weight: 700;
			}
		}

		.value {
			font-size: 1.6rem;
			line-height: 2rem;
			color: var(--color-grey);
		}
	}

	&__switch {
		input {
			&:checked {
				~ .switch__container {
					&::before {
						left: 1.8rem;
					}
				}

				~ .switch__name._left {
					color: var(--color-dark);
				}

				~ .switch__name._right {
					color: var(--color-orange);
				}
			}
		}

		@include mq(md) {
			margin-bottom: 4.8rem;
		}
	}
}
