extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "Продукты"
	- const siteLang = "ru"
	- const bgClassForm = "_bg-transparent"

block content
	include pages/product-detail/main.pug
