extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "Проекты"
	- const siteLang = "ru"
	- const bgClassForm = "_bg-transparent"

block content
	include pages/projects-detail/main.pug
