extends layout/default

block variables
	- const bodyClass = ""
	- const pageTitle = "Результаты поиска"
	- const siteLang = "ru"
	- const formHeading = "Не нашли нужную вакансию? Свяжитесь с отделом кадров"
	- const selectLabel = "Желаемая должность"
	- const textAreaLabel = "ПАРУ СЛОВ О СЕБЕ"
	- const file = true

block content
	include pages/team/main
    
