section.intro
	.site-container.intro__container
		+breadcrumbs([['Главная', "/"], ['Продукты']])(class="intro__breadcrumbs")
		h1.intro__heading
			|	Продукты
		.feautures
			.feautures__item
				.feautures__item-content._text-grey
					p
						|	Это открытость для включения в их состав других задач и подсистем
			.feautures__item
				.feautures__item-content
					span.feautures__item-content-num
						|	6
					p
						|	филиалов <b>Комтек</b>
						br
						| в&nbsp;России
			.feautures__item
				.feautures__item-content
					span.feautures__item-content-num
						|	130+
					p
						|	сотрудников
						br
						| компании
			.feautures__item
				.feautures__item-content
					span.feautures__item-content-num
						|	15+
					p
						|	лет мы поставляем
						br
						| цифровые продукты

