section.base-products.parallax
	.site-container.base-products__container
		.base-products__left-block
			span.section-name
				|	Базовые продукты
		.base-products__right-block
			.base-products__heading-wrapper
				p.base-products__heading-text
					|	Использование базовой системы поможет сократить рутинную работу медицинского персонала, статистических и экономических отделов
				span.base-products__heading-count
					|	5 продуктов
			.base-products__list
				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	Получение талона
					span.products-card__heading
						|	Медицинская информационная система
					span.products-card__tags
						|	МИАЦ ХМАО • ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img1.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Лабораторная информационная система
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img2.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Вертикально интегрированная медицинская информационная система
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img3.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Информационная система лекарственного обеспечения
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img4.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Информационная система
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img5.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Интернет-Регистратура
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img6.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Центральный архив медицинских изображений
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img7.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Информационная система Диспансеризация
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img8.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Информационная система Аналитики и Отчетности
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img9.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Иммунизация
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img10.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Региональные регистры пациентов
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img11.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	иммунизация
					span.products-card__heading
						|	Портал фонда ОМС
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img12.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	Получение талона
					span.products-card__heading
						|	Информационная безопасность
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img13.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")

				a.base-products__item.products-card(href="/")
					span.products-card__feauture
						|	Получение талона
					span.products-card__heading
						|	Лабораторная информационная система
					span.products-card__tags
						|	Иммунизация • МИАЦ ХМАО, ДЗ ЧАО
					img(class="products-card__img" src="img/product-cards/card-img14.png", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
