section.base-products.parallax.js-block
	.site-container.base-products__container
		.base-products__left-block
			span.section-name2
				|	Реализованные проекты
		.base-products__right-block
			.base-products__heading-wrapper
				p.base-products__heading-text
					|	Мы ценим наши проекты и постоянно стремимсяк повышению доступности медицинской помощи и к обеспечению интеграции с существующими локальными лабораторными и медицинскими системами 
			.base-products__list
				a.base-products__item.products-card.mod-project(href="/")
					span.products-card__feauture
						|	Чукотский АО
					span.products-card__heading
						|	Интернет регистратура <b>2018</b>
					span.products-card__tags
						|	Чукотская окружная больница
					img(class="products-card__img" src="img/product-cards/card-projects1.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
				a.base-products__item.products-card.mod-project(href="/")
					span.products-card__feauture
						|	Севастополь
					span.products-card__heading
						|	Лаборатория <b>2019</b>
					span.products-card__tags
						|	ГБУЗ С Городская больница №1 • №2 • №3• №4 • №5 • №9 • ГБУЗС "Городская инфекционная больница" 
					span.products-card__tags
						|	ЕЩЕ +4
					img(class="products-card__img" src="img/product-cards/card-projects2.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
				a.base-products__item.products-card.mod-project(href="/")
					span.products-card__feauture
						|	Тюменская область
					span.products-card__heading
						|	Региональная Лабораторная информационная система <b>2020</b>
					span.products-card__tags
						|	42 медицинских организации в г.Тюмень и области
					img(class="products-card__img" src="img/product-cards/card-projects3.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
				a.base-products__item.products-card.mod-project(href="/")
					span.products-card__feauture
						|	Алтайский край
					span.products-card__heading
						|	Внедрение ПК «Здравоохранение» в медицинских организациях, подведомственных министерству здравоохранения Алтайского края <b>2019</b>
					span.products-card__tags
						|	+30 медицинских учреждений
					img(class="products-card__img" src="img/product-cards/card-projects1.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
				a.base-products__item.products-card.mod-project(href="/")
					span.products-card__feauture
						|	ХМАО-Югра
					span.products-card__heading
						|	Удаленное консультирование <b>2020</b>
					span.products-card__tags
						|	Все организации ХМАО-Югры
					img(class="products-card__img" src="img/product-cards/card-projects4.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
				a.base-products__item.products-card.mod-project(href="/")
					span.products-card__feauture
						|	ХМАО-Югра
					span.products-card__heading
						|	Разработка мобильного решения при вызове врача на дом <b>2020</b>
					span.products-card__tags
						|	Нижневартовская городская детская поликлиника
					img(class="products-card__img" src="img/product-cards/card-projects5.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")
				a.base-products__item.products-card.mod-project(href="/")
					span.products-card__feauture
						|	ХМАО-Югра
					span.products-card__heading
						|	Разработка проекта "Электронная очередь" <b>2020</b>
					span.products-card__tags
						|	Нижневартовская городская стоматологическая поликлиника
					img(class="products-card__img" src="img/product-cards/card-projects6.svg", alt="")
					.products-card__arrow
						+icon("arrow-right")(class="products-card__arrow-icon" width="20" height="20")