section.chifs.js-block
	.site-container.grid-container
		.grid-container__block
			h2.site-second-title.chifs__heading
				|	Руководители
		.grid-container__block
			.chifs-slider__wrapper
				.swiper.chifs__container.chifs-slider
					.swiper-wrapper
						.chifs__item.swiper-slide
							img.chifs__item-img.lazy(data-src="img/chifs/img1.jpg", src="#" alt="")
							span.chifs__name
								|	Александр Чернышов
							span.chifs__position
								|	Коммерческий директор
							a.chifs__tel(href="tel:+78007750797")
								|	8 800 775 07 97
							a.chifs__email(href="mailto:seo@komtek.ru")
								|	seo@komtek.ru
						.chifs__item.swiper-slide
							img.chifs__item-img.lazy(data-src="img/chifs/img1.jpg", src="#" alt="")
							span.chifs__name
								|	Александр Чернышов
							span.chifs__position
								|	Коммерческий директор
							a.chifs__tel(href="tel:+78007750797")
								|	8 800 775 07 97
							a.chifs__email(href="mailto:seo@komtek.ru")
								|	seo@komtek.ru
						.chifs__item.swiper-slide
							img.chifs__item-img.lazy(data-src="img/chifs/img1.jpg", src="#" alt="")
							span.chifs__name
								|	Александр Чернышов
							span.chifs__position
								|	Коммерческий директор
							a.chifs__tel(href="tel:+78007750797")
								|	8 800 775 07 97
							a.chifs__email(href="mailto:seo@komtek.ru")
								|	seo@komtek.ru
