section.contacts-intro
	.site-container.contacts-intro__container
		+breadcrumbs([['Главная', "/"], ['Контакты']])(class="intro__breadcrumbs")
		h1.site-first-title.contacts-intro__heading
			|	Контакты
		.grid-container
			.grid-container__block
				h2.site-second-title.contacts-intro__legend
					|	Свяжитесь с нами
			.grid-container__block.contacts-intro__heading-info
				.contacts-intro__heading-info-block
					a.contacts-intro__heading-info-text(href="tel:+78007750797")
						|	8 800 775 07 97
					span
						|	Бесплатно по России
				.contacts-intro__heading-info-block
					a.contacts-intro__heading-info-text._mail(href="mailto:komtek@gmail.ru")
						|	komtek@gmail.ru
