section.hero
	.site-container.hero__container
		h1.hero__title
			|	Разработка индивидуальных решений в сфере здравоохранения
		a.button.hero__btn(href="/")
			|	Наши продукты


		.hero__imgs-wrapper
			img(src="img/hero-rec.svg", alt="" class="hero__rec")
			.swiper.hero__slider-img
				.swiper-wrapper
					.swiper-slide
						.hero__img-warpper
							img(src="img/hero-img/paltform.png", alt="" class="hero__img")
							img(src="img/hero-img/sphere.png", alt="" class="hero__img z-index1")
							img(src="img/hero-img/netbook.png", alt="" class="hero__img z-index1")
							img(src="img/hero-img/building.png", alt="" class="hero__img z-index1")
							img(src="img/hero-img/satellite.png", alt="" class="hero__img")
							img(src="img/hero-img/microscope.png", alt="" class="hero__img js-opacity-el js-first-step")
							img(src="img/hero-img/server.png", alt="" class="hero__img z-index1 js-opacity-el js-second-step")
							img(src="img/hero-img/storage.png", alt="" class="hero__img z-index1 js-opacity-el js-first-step")
							img(src="img/hero-img/tel.png", alt="" class="hero__img js-opacity-el js-first-step")
							img(src="img/hero-img/mod.png", alt="" class="hero__img z-index1 js-opacity-el js-second-step")
							img(src="img/hero-img/prob.png", alt="" class="hero__img js-opacity-el js-second-step")
							img(src="img/hero-img/dn.png", alt="" class="hero__img js-opacity-el js-second-step")
					.swiper-slide
						img(src="img/hero-img/hero-img22.svg", alt="" class="hero__slider-image")

		.hero__slider-warpper
			.hero__navifation
				.hero__navifation-dots
					.swiper-pagination._pagination-wrapper
					._count
						span._dots-line
						span._dot
							|	02

				.slider-nav.hero__slider-nav.js-hero-slider
					button.button-reset.slider-nav__btn.js-swiper-button-prev
						<svg class="slider-nav__circle" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle class="progress" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
							<circle class="progress" opacity="0.1" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
						</svg>
						+icon("arrow-left")(class="slider-nav__btn-icon" width="20" height="20")
					button.button-reset.slider-nav__btn.js-swiper-button-next
						<svg class="slider-nav__circle" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle class="progress" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
							<circle class="progress" opacity="0.1" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
						</svg>
						+icon("arrow-right")(class="slider-nav__btn-icon" width="20" height="20")
			.hero__slider.hero__content-text.swiper
				.swiper-wrapper
					.hero__slider-item.swiper-slide
						p
							|	Занимаемся автоматизацией медицинских учреждений с 2005 года. Ведущик российский поставщик высокотехнологичных IT-решений
					.hero__slider-item.swiper-slide
						p
							|	Тестовый текст, тестовый текст тестовый тестовый. Тестовый текст, тестовый текст тестовый тестовый.

