section.hero
	img(src="img/hero-rec.svg", alt="" class="hero__rec")
	img(src="img/hero-img.png", alt="" class="hero__img")
	.site-container.hero__container
		h1.hero__title
			|	Разработка индивидуальных решений в сфере здравоохранения
		a.button.hero__btn(href="/")
			|	Наши продукты
		.hero__slider-warpper
			.hero__navifation
				.hero__navifation-dots
					span._dot
						|	01
					span._dots-line
					span._dot
						|	02
				.slider-nav
					button.button-reset.slider-nav__btn
						+icon("arrow-left")(class="slider-nav__btn-icon" width="20" height="20")
					button.button-reset.slider-nav__btn
						+icon("arrow-right")(class="slider-nav__btn-icon" width="20" height="20")
			.hero__slider.hero__content-text
				.hero__slider-item
					p
						|	Занимаемся автоматизацией медицинских учреждений с 2005 года. Ведущик российский поставщик высокотехнологичных IT-решений


