section.map
	.site-container.map__container
		.map__map
			h2.map__title.site-second-title
				|	Внедряем медицинские информационные системы от Севастополя до Чукотки
			img(src="img/map.png", alt="Карта" class="map__map-img")
		.map__info
			ul.map__info-list
				li.map__info-item
					span._layer
					span._number
						|	6
					p
						|	филиалов <strong>КОМТЕК</strong> в&nbsp;России
				li.map__info-item
					span._layer
					span._number
						|	130+
					p
						|	сотрудников компании
				li.map__info-item
					span._layer
					span._number
						|	15+
					p
						|	лет мы поставляем цифровые продукты
			.map__content-text
				p
					|	Продукты гибко адаптирующиеся под требования каждой медицинской организации
