- let prj_arr = [{heading: "Cистема автоматизации процесса вакцинирования", text: "Иммунизация • МИАЦ ХМАО, ДЗ ЧАО "}, {heading: "Диспансеризация пациентов", text: "(ИСАР) - МИАЦ ХМАО, ДЗ ЧАО"}, {heading: "Медицинская информационная система", text: "(МИС) - МИАЦ ХМАО, ЯНАО, ДЗ ЧАО, Алтайский край, МИАЦ Севастополь"}, {heading: "Информационная система медицинских и лекарственных препаратов, ФРЛЛО", text: "(ИСМЛП) - МИАЦ ХМАО, ДЗ ЧАО, МИАЦ Севастополь, НМИЦ Радиологии Минздрава России"}, {heading: "Удаленное консультирование", text: ""}, {heading: "Лабораторная информационная система, как часть МИС", text: "(ЛИС) - МИАЦ ХМАО, ЯНАО, ДЗ ЧАО, МИАЦ Севастополь, Тюменская область"}, {heading: "Вертикально-интегрированная медицинская информационная система, требование Федерации", text: ""}, {heading: "Центральный архив медицинских изображений", text: "(ИСМЛП) - МИАЦ ХМАО, ДЗ ЧАО, МИАЦ Севастополь, НМИЦ Радиологии Минздрава России"}]

section.products.lazy.parallax(data-depth="0.20" data-bg="img/projects-bg2.webp" data-bg-fallback="img/projects-bg2.png")
	.site-container.products__container
		.products__title-wrapper
			h2.products__title.site-second-title
				span
					| Комтек
				|	— это автоматизация медицинских учреждений с 2005 года
			.products__title-mobile-wrapper
				h2.products__title-mobile.site-second-title
					|	Наши продукты
				p
					|	Внедряем медицинские информационные системы от Севастополя до Чукотки
			a.button.button-reset.products__btn(href="/")
				|	 Наши продукты
		.products__list
			for item, index in prj_arr
				.products__item
					span.products__item-heading=item.heading
					span.products__item-feautures=item.text
					img(src=`img/projects-img${index}.svg`, alt=item.heading class="products__item-img")
