section.projects.parallax(data-depth="0.20")
	.site-container.projects__container
		.projects__heading-wrapper
			span.section-name
				|	Реализованные проекты
			.slider-nav.projects__slider-nav
				button.button-reset.slider-nav__btn.js-projects-slider-nav-prev
					<svg class="slider-nav__circle" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="progress" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
						<circle class="progress" opacity="0.1" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
					</svg>
					+icon("arrow-left")(class="slider-nav__btn-icon" width="20" height="20")
				button.button-reset.slider-nav__btn.js-projects-slider-nav-next
					<svg class="slider-nav__circle" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="progress" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
						<circle class="progress" opacity="0.1" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
					</svg>
					+icon("arrow-right")(class="slider-nav__btn-icon" width="20" height="20")
		.projects__content
			._block
				h2.projects__title.site-second-title
					|	Более 1 500 000  пользователей продуктов
					span
						|	КОМТЕК
				a.button.projects__button(href="/")
					|	Все проекты
			._block
				.projects__slider.projects-slider.swiper
					.swiper-wrapper
						.projects-slider__item.swiper-slide
							a.projects-slider__content(href="/")
								img(src="img/funny-img.png", alt="Установка интерактивных сенсорных терминалов для Областной клинической больницы №15" class="projects-slider__img")
								.projects-slider__arrow
									+icon("arrow-right")(class="projects-slider__arrow-icon" width="20" height="20")
								span.projects-slider__where
									|	Тюменская область
								span.projects-slider__heading
									|	Установка интерактивных сенсорных терминалов для Областной клинической больницы №15
								.projects-slider__info
									span.projects-slider__legend
										|	Функционал
									ul
										li
											|	Получение талона
										li
											|	Автоматизация очереди
										li
											|	справочная информация по талону
										li
											|	Информация о результатах анализов пациента
										li
											|	Запись на прием к врачу
									span.projects-slider__legend
										|	Итог
									p
										|	На 45% Снижение нагрузки работников регистратуры
						.projects-slider__item.mod-small.swiper-slide
							a.projects-slider__content(href="")
								img(src="img/funny-img2.png", alt="CRM-система для стоматологии УльтраДент" class="projects-slider__img")
								.projects-slider__arrow
									+icon("arrow-right")(class="projects-slider__arrow-icon" width="20" height="20")
								span.projects-slider__where
									|	Чукотский автономный округ
								span.projects-slider__heading
									|	CRM-система для стоматологии УльтраДент
							a.projects-slider__content(href="")
								img(src="img/funny-img22.png", alt="CRM-система для стоматологии УльтраДент" class="projects-slider__img")
								.projects-slider__arrow
									+icon("arrow-right")(class="projects-slider__arrow-icon" width="20" height="20")
								span.projects-slider__where
									|	Тюменская область
								span.projects-slider__heading
									|	Система УДКОН в офтальмологическом центре
						.projects-slider__item.swiper-slide
							a.projects-slider__content(href="/")
								img(src="img/funny-img.png", alt="Установка интерактивных сенсорных терминалов для Областной клинической больницы №15" class="projects-slider__img")
								.projects-slider__arrow
									+icon("arrow-right")(class="projects-slider__arrow-icon" width="20" height="20")
								span.projects-slider__where
									|	Тюменская область
								span.projects-slider__heading
									|	Установка интерактивных сенсорных терминалов для Областной клинической больницы №15
								.projects-slider__info
									span.projects-slider__legend
										|	Функционал
									ul
										li
											|	Получение талона
										li
											|	Автоматизация очереди
										li
											|	справочная информация по талону
										li
											|	Информация о результатах анализов пациента
										li
											|	Запись на прием к врачу
									span.projects-slider__legend
										|	Итог
									p
										|	На 45% Снижение нагрузки работников регистратуры
						.projects-slider__item.mod-small.swiper-slide
							a.projects-slider__content(href="")
								img(src="img/funny-img2.png", alt="CRM-система для стоматологии УльтраДент" class="projects-slider__img")
								.projects-slider__arrow
									+icon("arrow-right")(class="projects-slider__arrow-icon" width="20" height="20")
								span.projects-slider__where
									|	Чукотский автономный округ
								span.projects-slider__heading
									|	CRM-система для стоматологии УльтраДент
							a.projects-slider__content(href="")
								img(src="img/funny-img22.png", alt="CRM-система для стоматологии УльтраДент" class="projects-slider__img")
								.projects-slider__arrow
									+icon("arrow-right")(class="projects-slider__arrow-icon" width="20" height="20")
								span.projects-slider__where
									|	Тюменская область
								span.projects-slider__heading
									|	Система УДКОН в офтальмологическом центре
