section.callback.parallax
	.site-container.callback__container
		.callback__left-block
			span.section-name
				|	Обратная связь
		.callback__right-block
			.callback__heading
				h2.callback__title
					|	Мы всегда заинтересованы в сотрудничествеи развитии

				.callback__info-text
					span
						|	1500+
					span
						|	пользователей продукции КОМТЕК
			.callback__form
				form.form(action="/" data-need-validation)
					.select
						.select__container
							select(name="place" class="js-custom-select")
								option(placeholder value="")
									|	Выберите интересующую вас область
								option(placeholder value="")
									|	Управление
								option(placeholder value="")
									|	Учет пациентов
								option(placeholder value="")
									|	Использование изделий
					label.form__label
						input(type="text" name="name" class="input" data-parsley-required)
						span.input-heading
							|	Ваше имя
						+icon("ok")(width="19" height="16" class="input-ok")
					label.form__label
						input(type="tel" name="tel" class="input js-phone-mask" data-parsley-required data-parsley-phone)
						span.input-heading
							|	Ваш телефон
						+icon("ok")(width="19" height="16" class="input-ok")
					label.form__label
						input(type="email" name="email" class="input" data-parsley-required)
						span.input-heading
							|	E-mail
						+icon("ok")(width="19" height="16" class="input-ok")
					label.form__agreement
						input(type="checkbox" class="visually-hidden" class="input-agreement" name="agreement" data-parsley-required)
						p
							|	Я согласен на обработку
							a(href="/")
								|	персональных данных
					button.button-reset.form__button.button.button_secondary
						|	 Отправить заявку
