.modal__container.modal-event(data-target="event")
	.modal__content
		button.button-reset.modal__close-btn.modal-close
			span
			span
		.modal-event__tag 11 июля 2005 года
		.modal-event__heading Участие в Выставке ИНФОТЕХ 2021
		.modal-event__slider.swiper
			.swiper-wrapper
				.modal-event__slide.swiper-slide
					img(src="img/img.jpg" alt="")
				.modal-event__slide.swiper-slide
					img(src="img/img.jpg" alt="")
				.modal-event__slide.swiper-slide
					img(src="img/img.jpg" alt="")
		.slider-nav.modal-event__slider-nav
			button.button-reset.slider-nav__btn.js-modal-slider-nav-prev
				<svg class="slider-nav__circle" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle class="progress" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
					<circle class="progress" opacity="0.1" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
				</svg>
				+icon("arrow-left")(class="slider-nav__btn-icon" width="20" height="20")
			button.button-reset.slider-nav__btn.js-modal-slider-nav-next
				<svg class="slider-nav__circle" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle class="progress" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
					<circle class="progress" opacity="0.1" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
				</svg>
				+icon("arrow-right")(class="slider-nav__btn-icon" width="20" height="20")
		.modal-event__text
			p
				|	С 13 по 14 октября 2021 представители ООО «КОМТЕК» приняли участие в XIV Тюменском Цифровом Форуме / Выставке «ИНФОТЕХ 2021», который был организован при поддержке Министерства цифрового развития, связи и массовых коммуникаций Российской Федерации г. Тюмени.
			p
				|	Гостям и участникам выставки были продемонстрированы возможности  Медицинской и лабораторной информационных систем, а также работа на планшете, реализованная для выездов врачей на дом и осуществления мобильной деятельности врачом стационара и постовой сестры.

