.products {
	padding: 7.2rem 0 12rem;
	background-color: var(--color-dark-blue);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include mq(sm) {
		padding: 3rem 0 4rem;
	}

	&__title-mobile-wrapper {
		display: none;

		@include mq(sm) {
			display: block;
		}

		p {
			color: var(--color-white);
			font-weight: 600;
			font-size: 1.4rem;
			line-height: 1.8rem;
			margin-bottom: 3rem;
		}
	}

	&__title-wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 5rem;

		@include mq(md) {
			flex-direction: column;
		}

		@include mq(sm) {
			margin-bottom: 4rem;
		}
	}

	&__title-mobile {
		color: var(--color-white);
		margin-bottom: 1rem;
	}

	&__title {
		color: var(--color-white);
		max-width: 59.3rem;

		span {
			color: var(--color-orange);
			text-transform: uppercase;
		}

		@include mq(md) {
			margin-bottom: 3rem;
		}

		@include mq(sm) {
			display: none;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		gap: 20px;

		@include mq(sm) {
			grid-template-columns: repeat(4, 1fr);
			gap: 5px;
		}
	}

	&__item {
		position: relative;
		z-index: 1;
		grid-column: 4 span;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: var(--color-purple-light);
		border-radius: 1.5rem;
		padding: 2.4rem 2rem;
		min-height: 36rem;
		overflow: hidden;

		&::before {
			position: absolute;
			top: 100%;
			left: 50%;
			z-index: -1;
			width: 7rem;
			height: 7rem;
			background-color: var(--color-white);
			border-radius: 50%;
			transform: translate(-50%);
			transition: all 400ms;
			content: "";
		}

		@include mq(sm, min) {
			&:hover {
				.products__item-heading {
					color: var(--color-orange);
					transform: scale(1.02);
				}

				.products__item-img {
					transform: scale(1.03);
				}

				&::before {
					width: 65rem;
					height: 65rem;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}

		@include mq(lg) {
			grid-column: 8 span;
			padding: 1.2rem 1.5rem;
		}

		@include mq(sm) {
			grid-column: 2 span;
			min-height: 18rem;
		}

		&-heading {
			display: block;
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 2.9rem;
			position: relative;
			z-index: 2;
			transition: color 200ms, transform 200ms;

			@include mq(sm) {
				font-size: 1.4rem;
				line-height: 1.7rem;
				max-width: 22.2rem;

				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			}
		}

		&-feautures {
			position: relative;
			z-index: 2;
			margin-top: auto;
			display: block;
			max-width: 18rem;
			font-weight: 600;
			font-size: 1.2rem;
			line-height: 1.6rem;
			color: #ADB0C3;
			text-transform: uppercase;

			@include mq(sm) {
				display: none;
				// font-size: 0.9rem;
				// line-height: 1rem;
				// letter-spacing: 0.01em;
				// max-width: 27.7rem;
			}
		}


		&:nth-child(7) {
			.products__item-img {
				bottom: 2rem;

				@include mq(sm) {
					bottom: -1rem;
				}
			}
		}

		&-img {
			position: absolute;
			right: 3rem;
			bottom: 3rem;
			width: 17rem;
			height: auto;
			transition: transform 200ms;

			@include mq(custom, max, 1480) {
				width: 18rem;
				height: 18rem;
			}

			@include mq(sm) {
				right: -1rem;
				bottom: -1rem;
				width: 10.3rem;
				height: 9.6rem;
			}
		}
	}
}
