include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
	head
		include ../parts/head.pug
	body(class=bodyClass)
		.preloader
			<svg class="preloader__image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path>
			</svg>
		include ../parts/menu
		.page-wrapper
			block header
				include ../parts/header.pug

			block content

			block footer
				include ../parts/footer.pug
			.btn-top-container
				.site-container
					button.button-reset.btn-top
						span._icon-wrap
							+icon("arrow-top")(class="footer__btn-top-icon" width="27" height="27")
						span._name
							| наврех

	block scripts
		script(src="js/main.js?v=" + siteVersion)
		script(src="resourses/js/backend.js?v=" + siteVersion)
