include ../data/config.pug
include ../mixins/**/*.pug

block variables

doctype html
html(lang=siteLang)
	head
		include ../parts/head.pug
	body(class=bodyClass)
		.preloader
		.page-wrapper
			block header
				include ../parts/header.pug

			block content

			block footer
				include ../parts/footer.pug
			.btn-top-container
				.site-container
					button.button-reset.btn-top
						span._icon-wrap
							+icon("arrow-top")(class="footer__btn-top-icon" width="27" height="27")
						span._name
							| наврех

	block scripts
		script(src="js/main.js?v=" + siteVersion)
