section.history.parallax
	.site-container.history__container
		.history__left-block
			h2.site-second-title.history__title
				|	История
			.slider-nav.history__slider-nav
				button.button-reset.slider-nav__btn.js-history-slider-nav-prev
					<svg class="slider-nav__circle" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="progress" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
						<circle class="progress" opacity="0.1" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
					</svg>
					+icon("arrow-left")(class="slider-nav__btn-icon" width="20" height="20")
				button.button-reset.slider-nav__btn.js-history-slider-nav-next
					<svg class="slider-nav__circle" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
						<circle class="progress" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
						<circle class="progress" opacity="0.1" cx="22" cy="22" r="21.5" stroke="#2D3040"/>
					</svg>
					+icon("arrow-right")(class="slider-nav__btn-icon" width="20" height="20")
		.history__right-block
			.history__slider.js-history-slider.swiper
				.swiper-wrapper
					.history__slider-item.swiper-slide
						.history__slider-item-top
							span.history__slider-item-heading
								|	2005
						.history__slider-item-body
							span.history__slider-item-legend
								|	11 июля 2005 года
							p
								|	Чернухиным Григорием Анатольевичем совместно с 5 сотрудниками была основана
								b
									|	ООО «КОМТЕК».

							p
								|	Разработана и внедрена в медицинские организации Нижневартовска система «Флюротека», функционирующая по настоящее время.
					.history__slider-item.swiper-slide
						.history__slider-item-top
							span.history__slider-item-heading
								|	2007
						.history__slider-item-body
							span.history__slider-item-legend
								|	27 ноября 2007 года
							p
								|	Основана компания-партнер ООО «Сибирский Центр Защиты Информации». Она получила лицензии ФСТЭК России и ФСБ России, необходимые для оказания услуг в области информационной безопасности и защиты информации.
							p
								|	Проведена активная разработка модулей и подсистем Программного комплекса
								b
									|	«Здравоохранение».
					.history__slider-item.swiper-slide
						.history__slider-item-top
							span.history__slider-item-heading
								|	2009
						.history__slider-item-body
							span.history__slider-item-legend
								|	июнь 2009 года
							p
								|	Разработан и внедрен в медицинские организации ХМАО-Югры модуль «Интернет Регистратура». Этот модуль стал одним из первых сервисов онлайн записи на прием к врачу в России.
							p
								|	Начата разработка модуля
								b
									|	«Лаборатория».
					.history__slider-item.swiper-slide
						.history__slider-item-top
							span.history__slider-item-heading
								|	2010
						.history__slider-item-body
							span.history__slider-item-legend
								|	июнь 2009 года
							p
								|	Разработан и внедрен в медицинские организации ХМАО-Югры модуль «Интернет Регистратура». Этот модуль стал одним из первых сервисов онлайн записи на прием к врачу в России.
							p
								|	Начата разработка модуля
								b
									|	«Лаборатория».
