section.about-intro.parallax
	.site-container.about-intro__container
		+breadcrumbs([['Главная', "/"], ['О компании']])(class="about-intro__breadcrumbs")
		h1.about-intro__heading
			|	О компании
		.about-intro__content
			.about-intro__left-block
				img(src="img/romtek-icon.svg", alt="" class="about-intro__icon-bg")

			.about-intro__right-block
				.about-intro__content-txt
					p
						|	ООО &laquo;КОМТЕК&raquo; занимается автоматизацией медицинских учреждений с&nbsp;2005&nbsp;года. 
						br
						|	Ведущий российский поставщик высокотехнологичных IT-решений 
						br
						|	в&nbsp;сфере здравоохранения
				.about-intro__list
					.about-intro__item
						span
							|	6
						p
							|	филиалов
							b
								|	Комтек
							|	в&nbsp;России
					.about-intro__item
						span
							|	130+
						p
							|	сотрудников компании
					.about-intro__item
						span
							|	15+
						p
							|	лет мы поставляем цифровые продукты
