section.career-list
    .site-container.career-list__container.grid-container
        .grid-container__block
            h2.career-list__heading.site-second-title
                |   Вакансии
        .grid-container__block