.team-lead {
    margin-bottom: 12.7rem;

    @include mq(md) {
        margin-bottom: 3rem;
    }

    @include mq(sm) {
        margin-bottom: 0;
    }

    &__section-name {
        @include mq(md) {
            margin-bottom: 3rem;
        }
    }

    &__name {
        font-weight: 800;
        font-size: 3.2rem;
        line-height: 3.8rem;
        letter-spacing: 0.01em;
        color: var(--color-orange);
        margin-bottom: 3.2rem;

        @include mq(sm) {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.01em;
            margin-bottom: 1.6rem;
        }
    }

    &__bio {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;

        @include mq(md) {
            display: block;
        }
    }

    &__bio-block {
        &:nth-child(1) {
            grid-column: 5 span;

            @include mq(sm) {
                margin-bottom: 3rem;
            }
        }

        &:nth-child(2) {
            grid-column: 7 span;
            padding-left: 4.6rem;


            @include mq(sm) {
                padding-left: 0;
            }
        }
    }

    &__legend {
        display: block;
        margin-bottom: 4rem;
        font-size: 1.8rem;
        line-height: 2.1rem;
        color: var(--color-grey3);

        @include mq(sm) {
            margin-bottom: 1.5rem;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 1.7rem;
        }
    }

	&__text-wrapper {
		max-height: 12.8rem;
		overflow: hidden;
		margin-bottom: 2rem;
		transition: max-height 200ms;

		&.is-active {
			max-height: 100%;
		}
	}

    &__text {
        font-size: 2rem;
        line-height: 3.2rem;
        margin-bottom: 2rem;

		p {
			margin-bottom: 1rem;

			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}

		&:nth-last-of-type(1) {
			margin-bottom: 0;
		}

        @include mq(sm) {
            font-size: 1.4rem;
            line-height: 1.7rem;
            margin-bottom: 1.5rem;
        }
    }

    &__btn {
        font-size: 1.4rem;
        line-height: 2.2rem;
        color: var(--color-orange);
        cursor: pointer;

		&.is-active {
			._hide {
				display: inline;
			}

			._show {
				display: none;
			}
		}

		._hide {
			display: none;
		}
    }

    &__img {
        width: 100%;
        height: 63.8rem;
        display: block;
        object-fit: cover;
        border-radius: 1.5rem;

        @include mq(sm) {
            height: 43.5rem;
            width: 33.5rem;
            margin: 0 auto;
        }
    }
}
