section.information-intro
	.site-container.information-intro__container
		+breadcrumbs([['Главная', "/"], ['Информация']])(class="intro__breadcrumbs")
		h1.site-first-title.information-intro__heading
			|	ИНФОРМАЦИЯ
